[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ridge-map = "*"
jupyter = "*"
python-dotenv = "*"
geocoder = "*"

[dev-packages]

[requires]
python_version = "3.8"
